div.info {
	background-position: 8px; border-width: 1px 1px 1px 10px; border-style: solid; border-color: rgb(170, 170, 170) rgb(170, 170, 170) rgb(170, 170, 170) rgb(30, 144, 255); color: rgb(0, 51, 153); letter-spacing: 0.1em; padding-top: 2px; padding-bottom: 2px; padding-left: 70px; font-family: Arial,Helvetica,sans-serif; font-size: 12px; margin-right: 10px; margin-left: 10px; word-spacing: 0.1em; vertical-align: middle; min-height: 50px; background-image: url("/../Info.png"); background-repeat: no-repeat; background-color: rgb(255, 255, 255);
}
ul#SelectCategoryList {
	height: 100px; overflow: scroll;
}
.bandeau {
	border-width: 1px 1px 1px 10px; border-style: solid; margin: 8px 10% 12px; padding: 2px 10px; text-align: left;
}
.bandeau table {
	background-color: transparent;
}
.bandeau-niveau-grave {
	border-color: rgb(170, 0, 68); background-color: rgb(255, 204, 204);
}
.bandeau-niveau-modere {
	border-color: rgb(255, 136, 34); background-color: rgb(255, 238, 221);
}
.bandeau-niveau-ebauche {
	border-color: rgb(255, 136, 34); background-color: rgb(255, 238, 221);
}
.bandeau-niveau-information {
	border-color: rgb(119, 204, 255); background-color: rgb(251, 251, 251);
}
.bandeau-icone {
	text-align: center; padding-right: 10px; vertical-align: middle; min-width: 45px;
}
.bandeau-titre {
	line-height: 1.4em; font-size: 1em; margin-bottom: 0.5em;
}
.bandeau-texte {
	line-height: 1.2em; font-size: 0.9em;
}
.alerte {
	background: rgb(255, 255, 221); padding: 0.11em; font-style: italic; margin-bottom: 0.4em;
}
.grave {
	border: 1px solid rgb(255, 153, 102); border-image: none;
}
.messagebox {
	background: rgb(249, 249, 249); margin: 8px 10% 12px; padding: 0.2em; border: 1px solid rgb(170, 170, 170); border-image: none; width: 80%; text-align: center;
}
.merge.messagebox {
	background: rgb(245, 237, 245); border: 1px solid rgb(207, 159, 255); border-image: none; text-align: center;
}
.cleanup.messagebox {
	background: rgb(239, 239, 255); border: 1px solid rgb(159, 159, 255); border-image: none; text-align: center;
}
.standard-talk.messagebox {
	background: rgb(248, 234, 186); border: 1px solid rgb(192, 192, 144); border-image: none;
}
#coordinates-title {
	font-size: 90%; margin-top: 1em; margin-right: 1em; float: right;
}
#coordinates-title img {
	vertical-align: middle;
}
.firstHeading {
	line-height: 1.2em;
}
h1 {
	padding-top: 0.65em; font-weight: bold;
}
h2 {
	padding-top: 0.65em; font-weight: bold;
}
h3 {
	padding-top: 0.6em; font-size: 125%; font-weight: bold; border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: dotted;
}
h4 {
	padding-top: 0.55em; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: dotted;
}
h5 {
	padding-top: 0.55em; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: dotted;
}
h6 {
	padding-top: 0.55em; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: dotted;
}
h1 {
	line-height: 1.2em;
}
.toclimit-2 .toclevel-2 {
	display: none;
}
.toclimit-3 .toclevel-3 {
	display: none;
}
.toclimit-4 .toclevel-4 {
	display: none;
}
.toclimit-5 .toclevel-5 {
	display: none;
}
.toclimit-6 .toclevel-6 {
	display: none;
}
.toclimit-7 .toclevel-7 {
	display: none;
}
table.navbox {
	margin: auto; padding: 1px; border: 1px solid rgb(170, 170, 170); border-image: none; width: 100%; text-align: center; clear: both; font-size: 88%;
}
table.navbox + table.navbox {
	margin-top: -1px;
}
.navbox-title {
	text-align: center; padding-right: 1em; padding-left: 1em;
}
.navbox-abovebelow {
	text-align: center; padding-right: 1em; padding-left: 1em;
}
table.navbox th {
	text-align: center; padding-right: 1em; padding-left: 1em;
}
.navbox-group {
	text-align: right; padding-right: 1em; padding-left: 1em; font-weight: bold; white-space: nowrap;
}
.navbox {
	background: rgb(253, 253, 253);
}
.navbox-subgroup {
	background: rgb(253, 253, 253);
}
.navbox-list {
	border-color: rgb(253, 253, 253);
}
.navbox-title {
	background: rgb(204, 204, 255);
}
table.navbox th {
	background: rgb(204, 204, 255);
}
.navbox-abovebelow {
	background: rgb(221, 221, 255);
}
.navbox-group {
	background: rgb(221, 221, 255);
}
.navbox-subgroup .navbox-title {
	background: rgb(221, 221, 255);
}
.navbox-subgroup .navbox-group {
	background: rgb(230, 230, 255);
}
.navbox-subgroup .navbox-abovebelow {
	background: rgb(230, 230, 255);
}
.navbox-even {
	background: rgb(247, 247, 247);
}
.navbox-odd {
	background: none;
}
.collapseButton {
	width: auto; text-align: right; font-weight: normal; float: right;
}
.navbox .collapseButton {
	width: 6em;
}
table.wikitable {
	background: rgb(249, 249, 249); margin: 1em 1em 1em 0px; border: 1px solid rgb(170, 170, 170); border-image: none; border-collapse: collapse;
}
.wikitable th {
	padding: 0.2em; border: 1px solid rgb(170, 170, 170); border-image: none;
}
.wikitable td {
	padding: 0.2em; border: 1px solid rgb(170, 170, 170); border-image: none;
}
.wikitable th {
	background: rgb(242, 242, 242); text-align: center;
}
.wikitable caption {
	font-weight: bold;
}
div.floatleft {
	margin-right: 1.5em;
}
h1 {
	clear: left;
}
h2 {
	clear: left;
}
h3 {
	clear: left;
}
h4 {
	clear: left;
}
h5 {
	clear: left;
}
h6 {
	clear: left;
}
.generated-sidebar h5 {
	text-transform: capitalize; font-size: 95%; font-weight: bold; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
#p-search h5 {
	text-transform: capitalize; font-size: 95%; font-weight: bold; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
#p-tb h5 {
	text-transform: capitalize; font-size: 95%; font-weight: bold; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
#p-lang h5 {
	text-transform: capitalize; font-size: 95%; font-weight: bold; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.generated-sidebar div.pBody {
	border-width: 1px medium medium; border-style: solid none none; border-color: rgb(221, 221, 221) currentColor currentColor; border-image: none; margin-left: 5px; background-color: transparent;
}
#p-search div.pBody {
	border-width: 1px medium medium; border-style: solid none none; border-color: rgb(221, 221, 221) currentColor currentColor; border-image: none; margin-left: 5px; background-color: transparent;
}
#p-tb div.pBody {
	border-width: 1px medium medium; border-style: solid none none; border-color: rgb(221, 221, 221) currentColor currentColor; border-image: none; margin-left: 5px; background-color: transparent;
}
#p-lang div.pBody {
	border-width: 1px medium medium; border-style: solid none none; border-color: rgb(221, 221, 221) currentColor currentColor; border-image: none; margin-left: 5px; background-color: transparent;
}
div.generated-sidebar div.pBody ul {
	margin-left: 0.5em; list-style-type: none; list-style-image: none;
}
#p-search div.pBody ul {
	margin-left: 0.5em; list-style-type: none; list-style-image: none;
}
#p-tb div.pBody ul {
	margin-left: 0.5em; list-style-type: none; list-style-image: none;
}
#p-lang div.pBody ul {
	margin-left: 0.5em; list-style-type: none; list-style-image: none;
}
#searchGoButton {
	padding-right: 1.3em; padding-left: 1.3em;
}
body {
	background-color: rgb(249, 249, 248);
}
body.mediawiki {
	background-image: url("https://wiki.cmc.ec.gc.ca/images/8/84/Cmcwiki-bg-green.png"); background-repeat: no-repeat;
}
#globalWrapper {
	background-position: right top; padding-top: 2.9em; background-image: url("https://wiki.cmc.ec.gc.ca/images/a/ae/Gocfip-12px.png"); background-repeat: no-repeat;
}
#p-personal {
	top: 37px;
}
#p-personal li a {
	color: rgb(0, 85, 0);
}
#p-cactions li a {
	color: rgb(0, 85, 0);
}
#p-cactions li.selected a {
	color: rgb(0, 85, 0);
}
#p-personal li a:hover {
	background-color: rgb(195, 217, 141);
}
#p-cactions li a {
	background-color: rgb(246, 255, 228);
}
pre {
	clear: right;
}
blockquote {
	padding: 0.5em; border-left-color: rgb(170, 170, 170); border-left-width: 2px; border-left-style: solid; background-color: rgb(238, 238, 238);
}
.ns-1 dd {
	margin: 0px; padding: 0px;
}
.ns-3 dd {
	margin: 0px; padding: 0px;
}
.ns-11 dd {
	margin: 0px; padding: 0px;
}
.ns-15 dd {
	margin: 0px; padding: 0px;
}
.ns-1 dl {
	padding: 0.5em 2px 0.5em 0.5em; border: 1px solid rgb(238, 238, 238); border-image: none;
}
.ns-3 dl {
	padding: 0.5em 2px 0.5em 0.5em; border: 1px solid rgb(238, 238, 238); border-image: none;
}
.ns-11 dl {
	padding: 0.5em 2px 0.5em 0.5em; border: 1px solid rgb(238, 238, 238); border-image: none;
}
.ns-15 dl {
	padding: 0.5em 2px 0.5em 0.5em; border: 1px solid rgb(238, 238, 238); border-image: none;
}
.ns-1 dl {
	background: rgb(255, 255, 233);
}
.ns-1 dl dl dl {
	background: rgb(255, 255, 233);
}
.ns-1 dl dl dl dl dl {
	background: rgb(255, 255, 233);
}
.ns-1 dl dl dl dl dl dl dl {
	background: rgb(255, 255, 233);
}
.ns-1 dl dl dl dl dl dl dl dl dl {
	background: rgb(255, 255, 233);
}
.ns-3 dl {
	background: rgb(255, 255, 233);
}
.ns-3 dl dl dl {
	background: rgb(255, 255, 233);
}
.ns-3 dl dl dl dl dl {
	background: rgb(255, 255, 233);
}
.ns-3 dl dl dl dl dl dl dl {
	background: rgb(255, 255, 233);
}
.ns-3 dl dl dl dl dl dl dl dl dl {
	background: rgb(255, 255, 233);
}
.ns-11 dl {
	background: rgb(255, 255, 233);
}
.ns-11 dl dl dl {
	background: rgb(255, 255, 233);
}
.ns-11 dl dl dl dl dl {
	background: rgb(255, 255, 233);
}
.ns-11 dl dl dl dl dl dl dl {
	background: rgb(255, 255, 233);
}
.ns-11 dl dl dl dl dl dl dl dl dl {
	background: rgb(255, 255, 233);
}
.ns-15 dl {
	background: rgb(255, 255, 233);
}
.ns-15 dl dl dl {
	background: rgb(255, 255, 233);
}
.ns-15 dl dl dl dl dl {
	background: rgb(255, 255, 233);
}
.ns-15 dl dl dl dl dl dl dl {
	background: rgb(255, 255, 233);
}
.ns-15 dl dl dl dl dl dl dl dl dl {
	background: rgb(255, 255, 233);
}
.ns-1 dl dl {
	background: rgb(255, 255, 248);
}
.ns-1 dl dl dl dl {
	background: rgb(255, 255, 248);
}
.ns-1 dl dl dl dl dl dl {
	background: rgb(255, 255, 248);
}
.ns-1 dl dl dl dl dl dl dl dl {
	background: rgb(255, 255, 248);
}
.ns-1 dl dl dl dl dl dl dl dl dl dl {
	background: rgb(255, 255, 248);
}
.ns-3 dl dl {
	background: rgb(255, 255, 248);
}
.ns-3 dl dl dl dl {
	background: rgb(255, 255, 248);
}
.ns-3 dl dl dl dl dl dl {
	background: rgb(255, 255, 248);
}
.ns-3 dl dl dl dl dl dl dl dl {
	background: rgb(255, 255, 248);
}
.ns-3 dl dl dl dl dl dl dl dl dl dl {
	background: rgb(255, 255, 248);
}
.ns-11 dl dl {
	background: rgb(255, 255, 248);
}
.ns-11 dl dl dl dl {
	background: rgb(255, 255, 248);
}
.ns-11 dl dl dl dl dl dl {
	background: rgb(255, 255, 248);
}
.ns-11 dl dl dl dl dl dl dl dl {
	background: rgb(255, 255, 248);
}
.ns-11 dl dl dl dl dl dl dl dl dl dl {
	background: rgb(255, 255, 248);
}
.ns-15 dl dl {
	background: rgb(255, 255, 248);
}
.ns-15 dl dl dl dl {
	background: rgb(255, 255, 248);
}
.ns-15 dl dl dl dl dl dl {
	background: rgb(255, 255, 248);
}
.ns-15 dl dl dl dl dl dl dl dl {
	background: rgb(255, 255, 248);
}
.ns-15 dl dl dl dl dl dl dl dl dl dl {
	background: rgb(255, 255, 248);
}
tt {
	border: 1px solid rgb(233, 233, 233); border-image: none; background-color: rgb(240, 240, 240);
}
.collapseButton {
	width: auto; text-align: right; font-weight: normal; float: right;
}
div#content {
	top: 37px; margin-top: 2.8em;
}
div#p-cactions {
	top: 37px; margin-top: 1.3em;
}
div#p-Navigation {
	margin-top: 0px;
}
div#p-logo {
	top: 37px;
}
div#column-one {
	padding-top: 210px;
}
div#footer {
	margin-top: 37px;
}
